.owl-carousel .item img {
	width: 100%;
	height: auto;
	display: block;
}
.owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}
.owl-prev, .owl-next {
	position: absolute;
	font-size: 2rem !important;
	color: white !important;
	background: rgba(0,0,0,0.5) !important;
	width: 40px;
	height: 60px;
	line-height: 60px !important;
	text-align: center;
	border-radius: 0 !important;
}
.owl-prev {
	left: 0;
}
.owl-next {
	right: 0;
}
.owl-dots {
    position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}
.owl-dot span {
	background: white !important;
}
.owl-dot.active span {
    background: #4CAF50 !important;
}

.owl-carousel, .owl-carousel .owl-stage-outer, .owl-carousel .owl-stage, 
  .owl-carousel .owl-item {
    height: 100% !important;
}
.owl-carousel .item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}